/ Header
%header
  .container
    .intro-text
      .intro-lead-in We
      .intro-heading mostly design
      %a.page-scroll.btn.btn-xl{:href => "#services"} Tell Me More
/ Services Section
%section#services
  .container
    .row
      .col-lg-12.text-center
        %h2.section-heading Services
        %h3.section-subheading.text-muted Yes, we do a lot of stuff.
    .row.text-center
      .col-md-4
        %span.fa-stack.fa-4x
          %i.fa.fa-circle.fa-stack-2x.text-primary
          %i.fa.fa-building-o.fa-stack-1x.fa-inverse
        %h4.service-heading Interior Design and Landscape consultancy
        %p.text-muted We create souls for spaces.
      .col-md-4
        %span.fa-stack.fa-4x
          %i.fa.fa-circle.fa-stack-2x.text-primary
          %i.fa.fa-paint-brush.fa-stack-1x.fa-inverse
        %h4.service-heading Furniture and Product Design
        %p.text-muted We build almost anything, and sometimes for no reason.
      .col-md-4
        %span.fa-stack.fa-4x
          %i.fa.fa-circle.fa-stack-2x.text-primary
          %i.fa.fa-laptop.fa-stack-1x.fa-inverse
        %h4.service-heading Web Design
        %p.text-muted We design with passion and deliver value.
/ Portfolio Grid Section
%section#portfolio.bg-light-gray
  .container
    .row
      .col-lg-12.text-center
        %h2.section-heading Portfolio
        %h3.section-subheading.text-muted Some chapters to share
    .row
      .col-md-4.col-sm-6.portfolio-item
        %a.portfolio-link{"data-toggle" => "modal", :href => "#portfolioModal1"}
          .portfolio-hover
            .portfolio-hover-content
              %i.fa.fa-plus.fa-3x
          %img.img-responsive{:alt => "", :src => "assets/portfolio/roundicons.png"}
        .portfolio-caption
          %h4 Fortune Builders
          %p.text-muted Interior and Landscape design
      .col-md-4.col-sm-6.portfolio-item
        %a.portfolio-link{"data-toggle" => "modal", :href => "#portfolioModal2"}
          .portfolio-hover
            .portfolio-hover-content
              %i.fa.fa-plus.fa-3x
          %img.img-responsive{:alt => "", :src => "assets/portfolio/startup-framework.png"}
        .portfolio-caption
          %h4 aaa
          %p.text-muted Website Design
      .col-md-4.col-sm-6.portfolio-item
        %a.portfolio-link{"data-toggle" => "modal", :href => "#portfolioModal3"}
          .portfolio-hover
            .portfolio-hover-content
              %i.fa.fa-plus.fa-3x
          %img.img-responsive{:alt => "", :src => "assets/portfolio/treehouse.png"}
        .portfolio-caption
          %h4 Treehouse
          %p.text-muted Website Design
      .col-md-4.col-sm-6.portfolio-item
        %a.portfolio-link{"data-toggle" => "modal", :href => "#portfolioModal4"}
          .portfolio-hover
            .portfolio-hover-content
              %i.fa.fa-plus.fa-3x
          %img.img-responsive{:alt => "", :src => "assets/portfolio/golden.png"}
        .portfolio-caption
          %h4 Golden
          %p.text-muted Website Design
      .col-md-4.col-sm-6.portfolio-item
        %a.portfolio-link{"data-toggle" => "modal", :href => "#portfolioModal5"}
          .portfolio-hover
            .portfolio-hover-content
              %i.fa.fa-plus.fa-3x
          %img.img-responsive{:alt => "", :src => "assets/portfolio/escape.png"}
        .portfolio-caption
          %h4 Escape
          %p.text-muted Website Design
      .col-md-4.col-sm-6.portfolio-item
        %a.portfolio-link{"data-toggle" => "modal", :href => "#portfolioModal6"}
          .portfolio-hover
            .portfolio-hover-content
              %i.fa.fa-plus.fa-3x
          %img.img-responsive{:alt => "", :src => "assets/portfolio/dreams.png"}
        .portfolio-caption
          %h4 Dreams
          %p.text-muted Website Design
/ About Section
%section#about
  .container
    .row
      .col-lg-12.text-center
        %h2.section-heading About
        %h3.section-subheading.text-muted We are a small team with a big vision
    .row
      .col-lg-12
        %ul.timeline
          %li
            .timeline-image
              %img.img-circle.img-responsive{:alt => "", :src => "assets/about/1.jpg"}
            .timeline-panel
              .timeline-heading
                %h4 2014
                %h4.subheading Our journey has just begun
              .timeline-body
                %p.text-muted We are young professionals with a passion for mostly design
          %li.timeline-inverted
            .timeline-image
              %h4
                Be Part
                %br
                  Of Our
                  %br Story!
/ Team Section
%section#team.bg-light-gray
  .container
    .row
      .col-lg-12.text-center
        %h2.section-heading Our Amazing Team
        %h3.section-subheading.text-muted We are curiously creative and technically sound problem solvers
    .row
      .col-sm-4
        .team-member
          %img.img-responsive.img-circle{:alt => "", :src => "assets/team/1.jpg"}
            %h4 Sneha Joshi
            %p.text-muted Designer
            %ul.list-inline.social-buttons
              %li
                %a{:href => "#"}
                  %i.fa.fa-twitter
              %li
                %a{:href => "#"}
                  %i.fa.fa-facebook
              %li
                %a{:href => "#"}
                  %i.fa.fa-linkedin
      .col-sm-4
        .team-member
          %img.img-responsive.img-circle{:alt => "", :src => "assets/team/2.jpg"}
            %h4 Shirshendu Mukherjee
            %p.text-muted Developer
            %ul.list-inline.social-buttons
              %li
                %a{:href => "#"}
                  %i.fa.fa-twitter
              %li
                %a{:href => "#"}
                  %i.fa.fa-facebook
              %li
                %a{:href => "#"}
                  %i.fa.fa-linkedin
    .row
      .col-lg-8.col-lg-offset-2.text-center
        %p.h2 Have a project? An idea?
        %p.large.text-muted
          %em Let's build it together.
/ Clients Aside
%aside.clients
  .container
    .row
      .col-md-3.col-sm-6
        %a{:href => "#"}
          %img.img-responsive.img-centered{:alt => "", :src => "assets/logos/envato.jpg"}
      .col-md-3.col-sm-6
        %a{:href => "#"}
          %img.img-responsive.img-centered{:alt => "", :src => "assets/logos/designmodo.jpg"}
      .col-md-3.col-sm-6
        %a{:href => "#"}
          %img.img-responsive.img-centered{:alt => "", :src => "assets/logos/themeforest.jpg"}
      .col-md-3.col-sm-6
        %a{:href => "#"}
          %img.img-responsive.img-centered{:alt => "", :src => "assets/logos/creative-market.jpg"}
%section#contact
  .container
    .row
      .col-lg-12.text-center
        %h2.section-heading Contact Us
        %h3.section-subheading.text-muted The only thing better than a great idea is bringing that idea to life. Whether you know exactly what you need or you're not sure where to begin, we'd love to hear about your next big thing
        %h3.section-subheading mostly.design@gmail.com
    .row
      .col-lg-12
        %form#contactForm{:name => "sentMessage", :novalidate => ""}
          .row
            .col-md-6
              .form-group
                %input#name.form-control{"data-validation-required-message" => "Please enter your name.", :placeholder => "Your Name *", :required => "", :type => "text"}
                  %p.help-block.text-danger
              .form-group
                %input#email.form-control{"data-validation-required-message" => "Please enter your email address.", :placeholder => "Your Email *", :required => "", :type => "email"}
                  %p.help-block.text-danger
              .form-group
                %input#phone.form-control{"data-validation-required-message" => "Please enter your phone number.", :placeholder => "Your Phone *", :required => "", :type => "tel"}
                  %p.help-block.text-danger
            .col-md-6
              .form-group
                %textarea#message.form-control{"data-validation-required-message" => "Please enter a message.", :placeholder => "Your Message *", :required => ""}
                %p.help-block.text-danger
            .clearfix
            .col-lg-12.text-center
              #success
              %button.btn.btn-xl{:type => "submit"} Send Message
/ Portfolio Modals
/ Use the modals below to showcase details about your portfolio projects!
/ Portfolio Modal 1
#portfolioModal1.portfolio-modal.modal.fade{"aria-hidden" => "true", :role => "dialog", :tabindex => "-1"}
  .modal-content
    .close-modal{"data-dismiss" => "modal"}
      .lr
        .rl
    .container
      .row
        .col-lg-8.col-lg-offset-2
          .modal-body
            / Project Details Go Here
            %h2 Project Name
            %p.item-intro.text-muted Lorem ipsum dolor sit amet consectetur.
            %img.img-responsive{:alt => "", :src => "assets/portfolio/roundicons-free.png"}
              %p Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!
              %p
                %strong> Want these icons in this portfolio item sample?
                You can download 60 of them for free, courtesy of
                = succeed "," do
                  %a{:href => "https://getdpd.com/cart/hoplink/18076?referrer=bvbo4kax5k8ogc"} RoundIcons.com
                or you can purchase the 1500 icon set
                = succeed "." do
                  %a{:href => "https://getdpd.com/cart/hoplink/18076?referrer=bvbo4kax5k8ogc"} here
              %ul.list-inline
                %li Date: July 2014
                %li Client: Round Icons
                %li Category: Graphic Design
              %button.btn.btn-primary{"data-dismiss" => "modal", :type => "button"}
                %i.fa.fa-times
                Close Project
/ Portfolio Modal 2
#portfolioModal2.portfolio-modal.modal.fade{"aria-hidden" => "true", :role => "dialog", :tabindex => "-1"}
  .modal-content
    .close-modal{"data-dismiss" => "modal"}
      .lr
        .rl
    .container
      .row
        .col-lg-8.col-lg-offset-2
          .modal-body
            %h2 Project Heading
            %p.item-intro.text-muted Lorem ipsum dolor sit amet consectetur.
            %img.img-responsive.img-centered{:alt => "", :src => "assets/portfolio/startup-framework-preview.png"}
              %p
                %a{:href => "http://designmodo.com/startup/?u=787"} Startup Framework
                is a website builder for professionals. Startup Framework contains components and complex blocks (PSD+HTML Bootstrap themes and templates) which can easily be integrated into almost any design. All of these components are made in the same style, and can easily be integrated into projects, allowing you to create hundreds of solutions for your future projects.
              %p
                You can preview Startup Framework
                = succeed "." do
                  %a{:href => "http://designmodo.com/startup/?u=787"} here
              %button.btn.btn-primary{"data-dismiss" => "modal", :type => "button"}
                %i.fa.fa-times
                Close Project
/ Portfolio Modal 3
#portfolioModal3.portfolio-modal.modal.fade{"aria-hidden" => "true", :role => "dialog", :tabindex => "-1"}
  .modal-content
    .close-modal{"data-dismiss" => "modal"}
      .lr
        .rl
    .container
      .row
        .col-lg-8.col-lg-offset-2
          .modal-body
            / Project Details Go Here
            %h2 Project Name
            %p.item-intro.text-muted Lorem ipsum dolor sit amet consectetur.
            %img.img-responsive.img-centered{:alt => "", :src => "assets/portfolio/treehouse-preview.png"}
              %p
                Treehouse is a free PSD web template built by
                = succeed "." do
                  %a{:href => "https://www.behance.net/MathavanJaya"} Mathavan Jaya
                This is bright and spacious design perfect for people or startup companies looking to showcase their apps or other projects.
              %p
                You can download the PSD template in this portfolio sample item at
                = succeed "." do
                  %a{:href => "http://freebiesxpress.com/gallery/treehouse-free-psd-web-template/"} FreebiesXpress.com
              %button.btn.btn-primary{"data-dismiss" => "modal", :type => "button"}
                %i.fa.fa-times
                Close Project
/ Portfolio Modal 4
#portfolioModal4.portfolio-modal.modal.fade{"aria-hidden" => "true", :role => "dialog", :tabindex => "-1"}
  .modal-content
    .close-modal{"data-dismiss" => "modal"}
      .lr
        .rl
    .container
      .row
        .col-lg-8.col-lg-offset-2
          .modal-body
            / Project Details Go Here
            %h2 Project Name
            %p.item-intro.text-muted Lorem ipsum dolor sit amet consectetur.
            %img.img-responsive.img-centered{:alt => "", :src => "assets/portfolio/golden-preview.png"}
              %p
                Start Bootstrap's Agency theme is based on Golden, a free PSD website template built by
                = succeed "." do
                  %a{:href => "https://www.behance.net/MathavanJaya"} Mathavan Jaya
                Golden is a modern and clean one page web template that was made exclusively for Best PSD Freebies. This template has a great portfolio, timeline, and meet your team sections that can be easily modified to fit your needs.
              %p
                You can download the PSD template in this portfolio sample item at
                = succeed "." do
                  %a{:href => "http://freebiesxpress.com/gallery/golden-free-one-page-web-template/"} FreebiesXpress.com
              %button.btn.btn-primary{"data-dismiss" => "modal", :type => "button"}
                %i.fa.fa-times
                Close Project
/ Portfolio Modal 5
#portfolioModal5.portfolio-modal.modal.fade{"aria-hidden" => "true", :role => "dialog", :tabindex => "-1"}
  .modal-content
    .close-modal{"data-dismiss" => "modal"}
      .lr
        .rl
    .container
      .row
        .col-lg-8.col-lg-offset-2
          .modal-body
            / Project Details Go Here
            %h2 Project Name
            %p.item-intro.text-muted Lorem ipsum dolor sit amet consectetur.
            %img.img-responsive.img-centered{:alt => "", :src => "assets/portfolio/escape-preview.png"}
              %p
                Escape is a free PSD web template built by
                = succeed "." do
                  %a{:href => "https://www.behance.net/MathavanJaya"} Mathavan Jaya
                Escape is a one page web template that was designed with agencies in mind. This template is ideal for those looking for a simple one page solution to describe your business and offer your services.
              %p
                You can download the PSD template in this portfolio sample item at
                = succeed "." do
                  %a{:href => "http://freebiesxpress.com/gallery/escape-one-page-psd-web-template/"} FreebiesXpress.com
              %button.btn.btn-primary{"data-dismiss" => "modal", :type => "button"}
                %i.fa.fa-times
                Close Project
/ Portfolio Modal 6
#portfolioModal6.portfolio-modal.modal.fade{"aria-hidden" => "true", :role => "dialog", :tabindex => "-1"}
  .modal-content
    .close-modal{"data-dismiss" => "modal"}
      .lr
        .rl
    .container
      .row
        .col-lg-8.col-lg-offset-2
          .modal-body
            / Project Details Go Here
            %h2 Project Name
            %p.item-intro.text-muted Lorem ipsum dolor sit amet consectetur.
            %img.img-responsive.img-centered{:alt => "", :src => "assets/portfolio/dreams-preview.png"}
              %p
                Dreams is a free PSD web template built by
                = succeed "." do
                  %a{:href => "https://www.behance.net/MathavanJaya"} Mathavan Jaya
                Dreams is a modern one page web template designed for almost any purpose. It’s a beautiful template that’s designed with the Bootstrap framework in mind.
              %p
                You can download the PSD template in this portfolio sample item at
                = succeed "." do
                  %a{:href => "http://freebiesxpress.com/gallery/dreams-free-one-page-web-template/"} FreebiesXpress.com
              %button.btn.btn-primary{"data-dismiss" => "modal", :type => "button"}
                %i.fa.fa-times
                Close Project
